<mat-card class="fullViewContainer">
  
<div class="container">
    <!-- <div class="leftSection"> -->
        
          <mat-drawer-container class="leftSection" >
              <mat-drawer #drawer mode="side" style="width:100px;">
              
                 <div class ="example-sideNav">
                  <div class="toggleButton" >
              
                    <mat-icon (click)="drawer.toggle()" class="toggleIcon" >format_align_center</mat-icon>
                </div>
                    <div class="iconContainer">
                        <!-- <mat-icon (click)="loadComponent()" style="color:blue" *ngFor = "let icon of componentArray ">{{icon.name}}</mat-icon> -->

                       <mat-icon  class="iconStyle"  (click)="loadComponent()">home</mat-icon>
                   
                     <mat-icon class="iconStyle"  (click)="loadSettingComponent()">star_border</mat-icon> 
                        <mat-icon class="iconStyle">schedule</mat-icon>
                        <mat-icon class="iconStyle">delete</mat-icon>
                  
                </div>
            </div>
              </mat-drawer>
              <!-- <mat-drawer>

              </mat-drawer> -->
              <div class="toggleButton">
                  <!-- <button type="button" mat-button (click)="drawer.toggle()"></button> -->
                  <mat-icon (click)="drawer.toggle()" class="toggleIcon">format_align_center</mat-icon>
              </div>
          </mat-drawer-container>
        
     
    <!-- </div> -->
    <div class="middleSection">
      
        <app-home *ngIf="showHomeComponent" ></app-home>
        <app-setting *ngIf="showSettingComponent"></app-setting>
    </div>
    <div class="rightSection">
        <h4  class="investmentText"> My Investment</h4>
        <mat-card class="cardWrapper"></mat-card>
        <h4 style="margin-left:10px">Owned Properties</h4>
        <div class="ownedProperty">
            <mat-card class="ownedPropertyCard" ></mat-card>
            <mat-card class="ownedPropertyCard"></mat-card>
        </div>
        <h4 style="margin-left:10px">Recent Activities</h4>
        <div class="recentActivityBox">
            <mat-card class="recentActivityBoxCard"></mat-card>
            <mat-card class="recentActivityBoxCard"></mat-card>

        </div>
    </div> 

</div>

</mat-card>


