
<div class="container">
    <div class="containerHome">
        <div>
            <mat-form-field appearance="outline" style="width:550px;height:20px">
                <mat-icon matPrefix  class="matPrefixIcon">search</mat-icon>
             <input class="searchBox"  matInput placeholder="search">
             </mat-form-field>
        </div>
        <div  class="messageWrapper" ><mat-icon class="messageIcon">message</mat-icon></div>
        <div  class="homeWrapper" ><mat-icon  class="homeIcon">home</mat-icon></div>

    </div>


<div>
    <div class="textContainer">
        <p  class="overViewText">Overview</p>
        <p>View All</p>

    </div>
    <div class="reportBlock">
      
        <mat-card class="reportBlockCard" ></mat-card>
        <mat-card ></mat-card>
        <mat-card ></mat-card>
    </div>
</div>
<mat-card  class="portfolioCard">
<p>Portfolio summary</p></mat-card>
<div class="textContainer">
    <p class="portfolioText">Your Portfolio</p>
    <p>View All</p>
    <div class="reportBlocks">
      
        <mat-card  class="reportBlocksCard"></mat-card>
        <mat-card   class="reportBlocksCard"></mat-card>
        <mat-card   class="reportBlocksCard"></mat-card>
    </div>

</div>
</div>


  
  

