
<div class="container">
    <div class="containerHome">
        <div>
            <mat-form-field appearance="outline" style="width:550px;height:20px">
                <mat-icon matPrefix style="margin-right:5px; font-size:30px">search</mat-icon>
             <input  style="margin-left: 8px; margin-bottom: 6px;" matInput placeholder="search">
             </mat-form-field>
        </div>
        <div style="height:47px; background-color: white;"><mat-icon style="color:black;margin-top:10px;margin-left: 10px;">message</mat-icon></div>
        <div style="height:47px;background-color: white;"><mat-icon style="color:black;margin-top:10px;margin-left: 10px;">home</mat-icon></div>

    </div>


<div>
    <div class="textContainer">
        <p style="font-size: 17px;font-weight: 500; margin-left: 26px;">Overview</p>
        <p>View All</p>

    </div>
    <div class="reportBlock">
      
        <mat-card style="height:200px;"></mat-card>
        <mat-card style="height:200px;"></mat-card>
        <mat-card style="height:200px;"></mat-card>
    </div>
</div>
<mat-card style="width:685px;margin-top:20px;margin-left:29px;height:297px">
<p>Portfolio summary</p></mat-card>
<div class="textContainer">
    <p style="font-size: 17px;font-weight: 500; margin-left: 26px;">Your Portfolio</p>
    <p>View All</p>
    <div class="reportBlocks">
      
        <mat-card style="height:100px;"></mat-card>
        <mat-card style="height:100px;"></mat-card>
        <mat-card style="height:100px;"></mat-card>
    </div>

</div>
</div>


  
  

